.ant-select-selector {
  height: 100%!important;
  padding: 0 0!important;
  border-radius: 50%!important;
}
.ant-select-selection-item {
  display: none!important;
}
.ant-select-selection-search-input {
  height: 100rem!important;
}
.ant-select-selection-placeholder {
  line-height: 100rem!important;
}
.ant-select-arrow {
  font-size: 30rem!important;
  left: 32%!important;
}