.ant-tag {
  line-height: 36rem;
  margin: 0;
}
.ant-tag-blue {
  font-size: 15rem!important;
  padding: 0rem 10rem!important;
}
.ant-tag-red {
  font-size: 16rem!important;
  padding: 0rem 6rem!important;
  margin-right: 10rem;
}